<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTful Creatures</title>
</head>

<body>
    <nav>
        <a href="/cryptids">Cryptids</a>
        <a href="/dinosaurs">Dinosaurs</a>
    </nav>
    <h3>RESTful Creatures</h3>
    <%- body %>
</body>

</html>