<p>Change it up...</p>
<form action="/cryptids" method="PUT">
    <label for="cryptidName">Cryptid Name:</label>
    <input type="text" name="name" id="cryptidName" value="<%= cryptid.name%>">
    <label for="cryptidType">Cryptid Url:</label>
    <input type="text" name="img_url" id="cryptidType" value="<%= cryptids.img_url %> ">
    <input type="submit" value="Save">
</form>