<p>hey! make one!</p>
<form action="/cryptids" method="POST">
    <label for="cryptidName">Cryptid Name:</label>
    <input type="text" name="name" id="cryptidName">
    <label for="cryptidType">Cryptid Url:</label>
    <input type="text" name="img_url" id="cryptidType">
    <input type="submit" value="Save">
</form>