<p>dinos! wow!</p>

<form method="GET" action="/dinosaurs">
    <label for="dinoFilter">Search:</label>
    <input id="dinoFilter" type="text" name="dinoFilter">
    <input type="submit">
</form>


<ul>
    <% dinos.forEach((dino) => { %>
        <li>
            Name:
            <%= dino.name %>, Type:
                <%=dino.type %>
                    <form method="POST" action="/dinosaurs/<%= dinos.indexOf(dino) %>/?_method=DELETE">
                        <input type="submit" value="DELETE">
                    </form>
        </li>
        <% }) %>

</ul>