<!--Action is the end point for the data-->
<p>hey! make one!</p>
<form action="/dinosaurs" method="POST">
    <label for="dinoName">Dinosaur Name:</label>
    <input type="text" name="name" id="dinoName">
    <label for="dinoType">Dinosaur Type:</label>
    <input type="text" name="type" id="dinoType">
    <input type="submit" value="Save">

</form>